* {
  margin: 0;
  /* border: 1px solid red; */
}
.header {
  background-color: aquamarine;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.headerImage {
  position: absolute;
  right: 20px;
  height: 10vw;
  width: 20vw;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
