* {
  margin: 0;
  /* border: 1px solid red; */
}
.header {
  background-color: aquamarine;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.headerImage {
  position: absolute;
  right: 20px;
  height: 10vw;
  width: 20vw;
}

@media (max-width: 576px) {
  .headerImage {
    display: none;
  }
}

.img-card {
  height: 30rem;
  object-fit: cover;
  display: flex;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-section {
  background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80); /* háttér kép */
  padding: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-card {
  padding-bottom: 2rem;
  display: flex;
}

label,
p {
  color: white;
  font-size: 2rem;
}

.guess-button {
  margin-left: 2rem;
}
