.main-card {
  margin-top: 1rem;
  padding: 2rem;
  border-color: rgb(21, 27, 62); /* szegély szín */
  background-color: rgb(157, 157, 242); /* háttér szín */
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
}

.custom-header {
  background-color: rgb(52, 145, 171); /* header szín */
  color: rgb(12, 91, 43); /* header szöveg szín */
}

.main-container {
  background-image: url(https://assets.wallpapersin4k.org/uploads/2017/04/Images-Wallpaper-24.jpg); /* háttér kép */
  padding: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-row {
  margin-bottom: 1rem;
}

.img-profile {
  object-fit: cover;
}

.bio {
  padding: 5rem;
}

.custom-text-color {
  color: rgb(52, 24, 86) !important; /* szöveg szín */
}
